<!-- extend base, load crispy forms, maincontent block and don't show the content if user is not authenticated -->
{% extends 'base.html' %}
{% block mainContent %}
{% if user.is_authenticated %}
{% load crispy_forms_tags %}

<!-- Trick 77, to hide author-->
<style>
#div_id_author{
    display: none;
    }
</style>

<h2>Upload</h2>
<p>Documents can be uploaded here:</p>

<!-- Upload form -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <br>
    <button type="submit" class="btn btn-primary">Upload document</button>
</form>
<br>
{% else %}
<!-- If user is not authenticated display the following message: -->
  <p>Hi! You are not logged in. To upload documents you have to <a href="{% url 'login' %}">Login</a> here.</p>
  <p>New User? <a href="{% url 'signup' %}">Register</a> here.</p>
{% endif %}
{% endblock %}