<!-- Load CSS file -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

<!-- Bootstrap Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <!-- by clicking on the logo you will be forwarded to the landing page -->
        <li><a href="/"><img src="{% static 'logo/LogoStudyManager.png' %}" width="124"></a></li>
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/upload">Upload document</a></li>
        <li class="nav-item"><a class="nav-link" href="/documents">Documents</a></li>
        <li class="nav-item"><a class="nav-link" href="/registration/">Register</a></li>

{% if user.is_authenticated %}
            <!-- Bootstrap dropdown menu for Account Management -->
        <div class="dropdown">
           <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
           </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/registration/">Register</a>
                <a class="dropdown-item" href="/password_change/">Change Password</a>
                <a class="dropdown-item" href="/registration/password_reset/">Forgot Password?</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/">Login / Logout</a>
            </div>
        </div>
{% else %}

    </ul>
{% endif %}
</nav>